.flex-container {
  flex-direction: column;
  display: flex;
  height: 600px;
  border: 2px solid black;
  padding: 5px;
}
.flex-container .row {
  display: flex;
  flex-wrap: wrap;
}
.row .column {
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  display: flex;
  margin: 5px;
}
.row .column1 {
  flex-grow: 1;
}
.row .column2 {
  flex-grow: 2;
}
.row .column3 {
  flex-grow: 3;
}
.row1 {
  height: 40%;
}
.row2 {
  flex: 1;
}
.row2 > div:last-child {
  height: 40%;
}
